numpy
scipy
scikit-image
openai
imagecodecs
requests
ultralytics
segment_anything
pillow
transformers
git+https://github.com/JPEG-Trust-Community/watermarking.git#subdirectory=evaluation_metric/package
simple_lama_inpainting